server:
  port: 8082

spring:
  application:
    name: auction-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://52.79.218.176:3306/auctionService?serverTimezone=Asia/Seoul
    username: auction
    password: auction

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      show-sql: true

eureka:
  instance:
    instance-id: auction-api

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://3.39.183.175:8761/eureka
