server:
  port: 8082

eureka:
  instance:
    instance-id: auction-api

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://3.39.183.175:8761/eureka

spring:
  application:
    name: auction-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mztalk-mysql:3306/auctionService?autoReconnect=true&useSSL=false
    username: auction
    password: auction

  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      show-sql: true
